In [1]:
import pandas as pd

In [3]:
# 데이터 입력
file_name = "lemonade.csv"
lemonade = pd.read_csv(file_name)

file_name = "boston.csv"
boston = pd.read_csv(file_name)

file_name = "iris.csv"
iris = pd.read_csv(file_name)

In [8]:
print(lemonade.shape)
print(boston.shape)
print(iris.shape)

(6, 2)
(506, 14)
(150, 5)

In [11]:
print(lemonade.columns)
print(boston.columns)
print(iris.columns)

Index(['온도', '판매량'], dtype='object')
Index(['crim', 'zn', 'indus', 'chas', 'nox', 'rm', 'age', 'dis', 'rad', 'tax',
       'ptratio', 'b', 'lstat', 'medv'],
      dtype='object')
Index(['꽃잎길이', '꽃잎폭', '꽃받침길이', '꽃받침폭', '품종'], dtype='object')

In [28]:
# lemonade
# iv = lemonade.iloc[:, :-1]
iv  = lemonade[['온도']]
# dv = lemonade.iloc[:, :-1]
dv  = lemonade[['판매량']]

# boston
iv = boston[['crim', 'zn', 'indus', 'chas', 'nox', 'rm', 'age', 'dis', 'rad', 'tax',
       'ptratio', 'b', 'lstat']]
dv = boston[['medv']]

# iris
iv = iris[['꽃잎길이', '꽃잎폭', '꽃받침길이', '꽃받침폭']]
dv = iris[['품종']]

In [30]:
# 상위 5개의 데이터 출력
lemonade.head()
boston.head()
iris.head()

   온도  판매량
0  20   40
1  21   42
2  22   44
3  23   46
4  24   48